%text_type1 { color: #333333;
              font-family: 'Bitter', serif;
              font-size: 25px;
              font-weight: bold; }


h4 { @extend %text_type1; }

ol li { @extend %text_type1;
        padding-top: 5%; }



img { width: 45%;
      height: 45%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5%;
      border-radius: 20px; }

p ~ a:hover { color: darkred; }

ol { padding-left: 15%;
     padding-right:15%; }

li > p, a { font-weight:normal;
            font-family: "Baskerville", "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
            font-size: 20px;
            text-align: justify; }
